/* suppression du style de la version écran  */

.ref_container.device .oneImage_device p {
    opacity: inherit;
    text-align: center;
}

.ref_container.device {
    position: relative;
    max-width: inherit;
    padding: inherit;
    margin-left: inherit; 
    margin-right: inherit;
}

/* Version mobile */ 

.one_bloc_device {
    position: relative;
    overflow-x: hidden;
}

.draggable_container {
    position: relative;
    width: 500vw;
    left: -200vw;
}

.draggable_content {
    display: flex;
    align-items: center;
    align-content: center;
    width: 300vw;
    left: 200vw;
    cursor: pointer;
}

.oneImage_device {
    width: 100vw;
}

.oneImage_device p {
    margin: 0 0; 
    padding: 0 0;
}

.oneText_device {
    width: 96vw;
    padding: 0 2vw 0 2vw;
    height: inherit;
    text-align: left;
}

.oneText_device p {
    color: black;
    opacity: 1;
}

.oneImage_device img {
    width: 100%; 
    height: auto;
}

@media screen and (max-width: 637px) {

    .draggable_container {
        position: relative;
        width: 1100vw;
        left: -500vw;
    }    
    
    .draggable_content {
        display: flex;
        width: 600vw;
        left: 500vw;
        cursor: pointer;
    }
    
    .oneImage_device {
        width: 100vw;
    }
    
    .oneText_device {
        width: 100vw;
        padding: 0 2vw 0 2vw;
        text-align: left;
    }
    
    .oneText_device p {
        color: black;
        opacity: 1;
    }
    
    .oneImage_device img {
        width: 100vw; 
        height: auto;
    }
}



