/* suppression du style de la version écran  */

.ref_container.device .oneImage_device p {
    opacity: inherit;
    text-align: center;
    margin: 0 0; 
    padding: 0 0;
}

.ref_container.device {
    max-width: inherit;
    padding: inherit;
    margin: 0 0; 
    padding: 0 0;
    width: inherit;
    display: inherit;
    min-height: 100vh;
    overflow-x: hidden;
}

.ref_container.device #ref_mobile_child { /* /!\ largeur du div et position avec JavaScript, ne pas modifier */
    position: relative;
}

.ref_container.device .oneImage_device {
    display: flex;
}


/* Version mobile */ 

.ref_container.device #draggable_container { /* /!\ largeur du div avec JavaScript, ne pas modifier  */
    display: flex;
    flex-wrap: nowrap;
    left: 50%; 

    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ref_container.device #UX_square {
    position: absolute; 
    left: 50%;
    top: 0; 
    border: 5px solid white; 
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    z-index: 100;

    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    transition: border 0.2s linear;
    -webkit-transition:  border 0.2s linear;
    -moz-transition:  border 0.2s linear;
    -o-transition:  border 0.2s linear;
}

.ref_container.device .description_image_device {
    opacity: 1;
    color: black;
}

.ref_container.device .oneImage_device {
    overflow: hidden;
}

.ref_container.device .oneImage_device img {
    width: 33.333vw; 
    height: 33.333vw; 
}

.ref_container.device #description_container {
    position: relative;
    width: 60vw; 
    left: 50%;
    bottom: 0;
    z-index: 100;
    margin-top: 50px;

    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ref_container.device #description_container .oneText_device {
    position: absolute; 
    left: 50%; 
    top: 0; 
    color: black;
    width: 100%; 
    text-align: center;

    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.dynamic_image { 
    height: auto; 
    width: 50vw;
}

@media screen and (max-width: 35.5em) {
    .dynamic_image { 
        height: auto; 
        width: 80vw;
    }

    .ref_container.device #description_container {
        width: 96vw; 
    }
}