/* Containers */ 


.ref_container {
    width: 100%;
    max-width: 1440px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 5px;
}

.oneBloc {
    width: 100%; 
    max-width: 1440px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    align-content: center; 
}

.oneBloc img, .oneBloc div, .oneBloc span {
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
}

.firstCase {
    text-align: center;
    width: 25%; 
    position: relative;
    overflow: hidden;
    z-index: 60;
}

.secondCase {
    text-align: center;
    width: 25%; 
    position: relative;
    overflow: hidden;
    z-index: 60;
}

.thirdCase {
    text-align: center;
    width: 25%; 
    position: relative;
    overflow: hidden;
    z-index: 60;
}

.firstCase p, .secondCase p, .thirdCase p {
    margin: 0 0;
}





/* images et hover */ 




.firstCase img, .secondCase img, .thirdCase img {
    width: 100%; 
    height: auto; 
    z-index: 50;
}



/* Apparition du texte au hover */ 




.description_image {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    width: 80%;

    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description_site_image_1, .description_site_image_2, .description_site_image_3, .description_projet_image_1, .description_projet_image_2, .description_projet_image_3 {
    opacity: 0;
}

/* Keyframes */ 

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* loader */ 

#loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: -1000;
    overflow: hidden;
}

#loader div {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; 
    -moz-animation:  spin 2s linear infinite;
    -o-animation:  spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
