/* Containers */ 


.ref_container {
    width: 100%;
    max-width: 1440px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 5px;
}

.oneBloc {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.firstCase {
    text-align: center;
    width: 33.333%; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-top: 3px solid black; 
    border-right: 1.5px solid black;
    border-bottom: 3px solid black; 
    border-left: 3px solid black;
    z-index: 60;
}

.secondCase {
    text-align: center;
    width: 33.333%; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-top: 3px solid black; 
    border-right: 1.5px solid black;
    border-bottom: 3px solid black; 
    border-left: 1.5px solid black;
    z-index: 60;
}

.thirdCase {
    text-align: center;
    width: 33.333%; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-top: 3px solid black; 
    border-right:3px solid black;
    border-bottom: 3px solid black; 
    border-left: 1.5px solid black;
    z-index: 60;
}

.firstCase p, .secondCase p, .thirdCase p {
    margin: 0 0;
}





/* images et hover */ 





.firstCase img, .secondCase img, .thirdCase img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    opacity: 0.9;
    z-index: 50;
}




/* Apparition du texte au hover */ 




.description_image {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    width: 80%;

    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
}

.description_site_image_1, .description_site_image_2, .description_site_image_3, .description_projet_image_1, .description_projet_image_2, .description_projet_image_3 {
    opacity: 0;
}





/* media queries */ 


@media screen and (max-width: 1280px) {

    .firstCase, .secondCase, .thirdCase{
        width: 25%;
        border: 3px solid black;
    }
}

@media screen and (max-width: 620px) {

    .firstCase, .secondCase, .thirdCase{
        width: 20%;
        border: 3px solid black;
    }
}


@media screen and (max-width: 450px) and (orientation: portrait) {
    
    .oneBloc {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        align-content: center; 
    }

    .firstCase, .secondCase, .thirdCase {
        width: 50%; 
        border: 3px solid black;
    }

    .firstCase, .secondCase {
        margin-bottom: 20px;
    }
}
